---
layout: page
title: 分類
header: Posts By Category
group: navigation
weight: 3
---
{% include JB/setup %}

<div class="container">
    <!--filter-->
    <ul id="filtrable">
      {% assign categories_list = site.categories %}
      {% include JB/categories_list %}
    </ul>

    <div class="clear"></div>
    
    <section class="row da-thumbs portfolio filtrable">
		{% assign posts_collate = site.posts %}
		{% assign filtrtype = "category" %}
		{% include JB/posts_thumbs %}

    </section>
</div>
