<div class="page-header">
  <h1>{{ page.title }} <small>{{ page.subtitle }}</small></h1>
</div>


<div class="modal hide" id="mapModal">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">Close</button>
  </div>
    <div class="modal-body">
    <iframe width="520" height="390" src="http://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q={{ page.address }}&z=14&output=embed&t=m"></iframe>
  </div>
</div>
<div class="modal hide" id="streetModal">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">Close</button>
  </div>
    <div class="modal-body">
    <iframe width="520" height="390" src="http://maps.google.com/maps/sv?&geocode=&q={{ page.address }}&panoid=3JSlKWi6Pdvsuzbp5c3IRA&v=1&gl=&hl=zh-TW"></iframe>
  </div>
</div>
<div class="row">
  <div class="span5">
    <h3>{{ page.spec }}</h3>
    <h6>{{ page.address }}</h6>
  </div>
  <div class="span3 text-right">
    <h2>{{ page.price }}</h2>
  </div>
</div>




<div class="row">
  <div class="span8">


    <section class="da-thumbs portfolio">

      {% assign img = page.img %}  
      {% include JB/imgs_thumbs %}
      {% assign img = page.img1 %}  
      {% include JB/imgs_thumbs %}
      {% assign img = page.img2 %}  
      {% include JB/imgs_thumbs %}
      {% assign img = page.img3 %}  
      {% include JB/imgs_thumbs %}
      {% assign img = page.img4 %}  
      {% include JB/imgs_thumbs %}
      {% assign img = page.img5 %}  
      {% include JB/imgs_thumbs %}
      {% assign img = page.img6 %}  
      {% include JB/imgs_thumbs %}
      {% assign img = page.img7 %}  
      {% include JB/imgs_thumbs %}
      {% assign img = page.img8 %}  
      {% include JB/imgs_thumbs %}
      {% assign img = page.img9 %}  
      {% include JB/imgs_thumbs %}


    </section>



    {{ content }}

    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4">

    <div id="row property_map"  class="center">
      <a href="#mapModal"><img src="http://maps.google.com/staticmap?center={{ page.geo }}&amp;zoom=15&amp;size=250x250&amp;maptype=mobile&amp;markers={{ page.geo }},red&amp;key=ABQIAAAAqQJ-gFBKUbBLaFN1HQF4KBQ_k2Fxd8XZtbWUsvz5Vrarxzf2SRSh7DRXLQmAZ-6XwtrmMhkINGT27A&amp;sensor=false" alt="" /></a>
      
      <p>
        <br /><a data-toggle="modal" href="#mapModal">檢視較大的地圖</a>
        <br /><a data-toggle="modal" href="#streetModal">檢視街景</a>
      </p>

     
    </div>
    <hr />

    <div id="row">
      <h4>發佈於</h4>
      <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
    </div>

  {% unless page.tags == empty %}
    <div id="row">
      <h4>分類</h4>
      <ul class="tag_box">
        {% assign categories_list = page.category %}
        {% include JB/categories_list %}
      </ul>
    </div>
  {% endunless %} 

  {% unless page.tags == empty %}
    <div id="row">
      <h4>細項</h4>
      <ul class="tag_box">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
      </ul>
    </div>
  {% endunless %}  
  </div>
</div>
